/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

h2 {
  padding-top: 3px;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Positioning Classes */

/*.feature-title h2 {*/
  /*margin-top: 10px;*/
  /*margin-bottom: 10px;*/
/*}*/

/*.shoe-archive {*/
/*  margin-top: ;*/
/*}*/

.col-3,
.col-4,
.col-8,
.col-9 {
  float: left;
  margin: 0;
  padding-right: 15px;
  padding-left: 15px;
  }

.col-12 {
  width: 100%;
}
.col-11 {
  width: 91.66666667%;
}
.col-lg-10 {
  width: 83.33333333%;
}
.col-lg-9 {
  width: 75%;
}
.col-8 {
  width: 66.66666667%;
}
.col-7 {
  width: 58.33333333%;
}
.col-6 {
  width: 50%;
}
.col-5 {
  width: 41.66666667%;
}
.col-4 {
  width: 33.33333333%;
}
.col-3 {
  width: 25%;
}
.col-2 {
  width: 16.66666667%;
}
.col-1 {
  width: 8.33333333%;
}

.col-4 {
  float: left;
  width: 31.33333333%;
  margin: 1.00000002%;
}

.col-4:first-child {
  margin-left: 0;
}

.col-4:last-child {
  margin-right: 0;
}

